= form_for @game_session do |f|
  - if @game_session.errors.any?
    =render 'shared/errors', object: @game_session

  = f.label :game
  = f.select :game, Game.all.collect {|p| [p.name, p.id]}

  = f.label :winner
  = f.select :winner_id, Player.all.collect {|p| [p.name, p.id]}

  %h3 Players
  #players
    =f.fields_for :players do |player|
      = render 'player_fields', f: player
    .links
      = link_to_add_association 'add player', f, :players, class: "btn btn-success"

  = f.submit

