<%= form_with(model: game_session) do |form| %>
  <% if game_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game_session.errors.count, "error") %> prohibited this game_session from being saved:</h2>

      <ul>
        <% game_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game, style: "display: block" %>
    <%= form.text_field :game %>
  </div>

  <div>
    <%= form.label :winner_id, style: "display: block" %>
    <%= form.number_field :winner_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
