%html
  %head
    %title VNemeth
    %meta{ name: "viewport", content:"width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "custom", "data-turbo-track": "reload"

    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body{"data-nav":"false"}
    %main
      = yield

      %button{id:"nav-toggle", type:"button", onclick: "toggleNav()"}
        %i.bi.bi-list
        %i.bi.bi-X-lg

